@model List<WorkListDto>
<html>
<head>
    <title>Todo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container my-2">
        <div class="text-end my-2">
            <a asp-action="Create" asp-controller="Home" class="btn btn-success btn-sm">Yeni İş Ekle</a>
        </div>
    </div>
    <div class="container my-2">
        <table class="table table-hovered table-bordered table-sm">
            <thead>
                <tr>
                    <th>İş</th>
                    <th>Durum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Definition</td>
                        <td>@(item.IsCompleted?"Tamamlandı" : "Tamamlanmadı")</td>
                        <td>
                            <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Güncelle</a>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-Danger">Delete</a>
                        </td>
                    </tr>    
                }
                
            </tbody>
        </table>
    </div>
</body>
    
</html>